.create-post-container {
  padding: 2rem;
  background-color: #0d0d0d;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.create-post-container form {
  display: flex;
  flex-direction: column;
}

textarea {
  resize: vertical;
  min-height: 100px;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
}

input[type="text"],
input[type="file"] {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 8px;
  border: none;
}

button {
  background: linear-gradient(to right, #ff00cc, #3333ff);
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
